.contenedor-superior {
    display: flex;
}

.imagen {
    width: 300px;
    height: 380px;
    padding: 10px;
}

.texto {
    padding: 15px;
    font-size: 40px;
    color: white;
}

.parrafo {
    padding: 15px;
    font-size: 16px;
    color: white; 
    text-align: justify;
    line-height: 35px;
}

.caracteristicas {
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    display: flex;
}